nodered/flows.json
[{
        "id": "52d8c030.9a05a",
        "type": "tab",
        "label": "SunSpec Modbus",
        "disabled": false,
        "info": ""
    }, {
        "id": "4d6b8b2a.2bbe04",
        "type": "tab",
        "label": "solcast timer",
        "disabled": false,
        "info": "Reference https://discourse.nodered.org/t/power-forecasts-and-data-tuning-for-solar-installations-node-red-solcast-api-influxdb-grafana/28037/5"
    }, {
        "id": "db4a29ea.4db318",
        "type": "tab",
        "label": "solcast API",
        "disabled": false,
        "info": "Reference https://discourse.nodered.org/t/power-forecasts-and-data-tuning-for-solar-installations-node-red-solcast-api-influxdb-grafana/28037/5"
    }, {
        "id": "4c0ce22f.eca32c",
        "type": "tab",
        "label": "solcast Measurements",
        "disabled": false,
        "info": "Reference https://discourse.nodered.org/t/power-forecasts-and-data-tuning-for-solar-installations-node-red-solcast-api-influxdb-grafana/28037/5"
    }, {
        "id": "26006378.9c41ac",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    }, {
        "id": "2fd50738.72f798",
        "type": "position-config",
        "z": "",
        "name": "Home",
        "isValide": "true",
        "longitude": "0",
        "latitude": "0",
        "angleType": "deg",
        "timeZoneOffset": 99,
        "timeZoneDST": 0,
        "stateTimeFormat": "3",
        "stateDateFormat": "12"
    }, {
        "id": "a1a73c4f.da539",
        "type": "Stackhero-InfluxDB-v2-Server",
        "z": "",
        "name": "influxdb - solar-monitoring",
        "host": "influxdb",
        "port": "9999",
        "tls": false
    }, {
        "id": "f2a0fc96.39186",
        "type": "inject",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "topic": "inject",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 100,
        "wires": [["3f857554.92b2aa"]]
    }, {
        "id": "46462f06.ad13c",
        "type": "change",
        "z": "4d6b8b2a.2bbe04",
        "name": "set interval (forecasts)",
        "rules": [{
                "t": "set",
                "p": "iterations",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }, {
                "t": "set",
                "p": "intervalLength",
                "pt": "msg",
                "to": "payload.endTime - payload.startTime",
                "tot": "jsonata"
            }, {
                "t": "set",
                "p": "interval",
                "pt": "msg",
                "to": "$ceil(intervalLength / (iterations-1))",
                "tot": "jsonata"
            }, {
                "t": "move",
                "p": "interval",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }, {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "interval",
                "tot": "str"
            }, {
                "t": "delete",
                "p": "iterations",
                "pt": "msg"
            }, {
                "t": "delete",
                "p": "intervalLength",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 100,
        "wires": [["e196d254.54d0f"]]
    }, {
        "id": "b80f001a.1b04d",
        "type": "link out",
        "z": "4d6b8b2a.2bbe04",
        "name": "timer estimates",
        "links": ["febd8f1f.e645c"],
        "x": 1415,
        "y": 400,
        "wires": []
    }, {
        "id": "afe610a3.ae9b5",
        "type": "link out",
        "z": "4d6b8b2a.2bbe04",
        "name": "timer forecasts",
        "links": ["f66dc980.f06d58"],
        "x": 1415,
        "y": 100,
        "wires": []
    }, {
        "id": "be914953.321318",
        "type": "inject",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "topic": "inject",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 400,
        "wires": [["cdf80928.4c0e48"]]
    }, {
        "id": "805bce6e.0b9cb",
        "type": "change",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }, {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "forecasts",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 100,
        "wires": [["afe610a3.ae9b5"]]
    }, {
        "id": "4bd64a0d.9f8124",
        "type": "change",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }, {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "estimated_actuals",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 400,
        "wires": [["b80f001a.1b04d"]]
    }, {
        "id": "5479955b.eccf6c",
        "type": "change",
        "z": "4d6b8b2a.2bbe04",
        "name": "set interval (estimates)",
        "rules": [{
                "t": "set",
                "p": "iterations",
                "pt": "msg",
                "to": "8",
                "tot": "num"
            }, {
                "t": "set",
                "p": "intervalLength",
                "pt": "msg",
                "to": "payload.endTime - payload.startTime",
                "tot": "jsonata"
            }, {
                "t": "set",
                "p": "interval",
                "pt": "msg",
                "to": "$ceil(intervalLength / (iterations-1))",
                "tot": "jsonata"
            }, {
                "t": "move",
                "p": "interval",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }, {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "interval",
                "tot": "str"
            }, {
                "t": "delete",
                "p": "iterations",
                "pt": "msg"
            }, {
                "t": "delete",
                "p": "intervalLength",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 400,
        "wires": [["184f9f65.0654a1"]]
    }, {
        "id": "794ae46b.8045cc",
        "type": "delay",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 160,
        "wires": [["3f857554.92b2aa"]]
    }, {
        "id": "16a13a78.0e1a46",
        "type": "delay",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 440,
        "y": 340,
        "wires": [["cdf80928.4c0e48"]]
    }, {
        "id": "4302a05a.8f90c",
        "type": "debug",
        "z": "4d6b8b2a.2bbe04",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1330,
        "y": 240,
        "wires": []
    }, {
        "id": "8faa61fa.f9a39",
        "type": "time-inject",
        "z": "4d6b8b2a.2bbe04",
        "d": true,
        "name": "",
        "nameInt": "start:⏲ sunrise = timestamp",
        "positionConfig": "2fd50738.72f798",
        "payload": "",
        "payloadType": "date",
        "payloadTimeFormat": 0,
        "payloadOffset": 0,
        "payloadOffsetType": "none",
        "payloadOffsetMultiplier": 60000,
        "topic": "start",
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunrise",
        "timeType": "pdsTime",
        "offset": 0,
        "offsetType": "none",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "addPayload1": "",
        "addPayload1Type": "none",
        "addPayload1Value": "",
        "addPayload1ValueType": "date",
        "addPayload1Format": "0",
        "addPayload1Offset": 0,
        "addPayload1OffsetType": "none",
        "addPayload1OffsetMultiplier": 60000,
        "addPayload1Next": true,
        "addPayload1Days": "*",
        "addPayload2": "",
        "addPayload2Type": "none",
        "addPayload2Value": "",
        "addPayload2ValueType": "date",
        "addPayload2Format": "0",
        "addPayload2Offset": 0,
        "addPayload2OffsetType": "none",
        "addPayload2OffsetMultiplier": 60000,
        "addPayload2Next": true,
        "addPayload2Days": "*",
        "addPayload3": "",
        "addPayload3Type": "none",
        "addPayload3Value": "",
        "addPayload3ValueType": "date",
        "addPayload3Format": "0",
        "addPayload3Offset": 0,
        "addPayload3OffsetType": "none",
        "addPayload3OffsetMultiplier": 60000,
        "addPayload3Next": true,
        "addPayload3Days": "*",
        "recalcTime": 2,
        "x": 190,
        "y": 220,
        "wires": [["794ae46b.8045cc", "e196d254.54d0f", "184f9f65.0654a1", "16a13a78.0e1a46"]]
    }, {
        "id": "361f1d0d.2a8402",
        "type": "time-inject",
        "z": "4d6b8b2a.2bbe04",
        "d": true,
        "name": "",
        "nameInt": "stop:⏲ sunset↷ = timestamp",
        "positionConfig": "2fd50738.72f798",
        "payload": "",
        "payloadType": "date",
        "payloadTimeFormat": 0,
        "payloadOffset": 0,
        "payloadOffsetType": "none",
        "payloadOffsetMultiplier": 60000,
        "topic": "stop",
        "injectTypeSelect": "time",
        "intervalCount": 1,
        "intervalCountType": "num",
        "intervalCountMultiplier": 60000,
        "time": "sunset",
        "timeType": "pdsTime",
        "offset": "15",
        "offsetType": "num",
        "offsetMultiplier": 60000,
        "timeEnd": "",
        "timeEndType": "entered",
        "timeEndOffset": 0,
        "timeEndOffsetType": "none",
        "timeEndOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "property": "",
        "propertyType": "none",
        "propertyCompare": "true",
        "propertyThreshold": "",
        "propertyThresholdType": "num",
        "timeAlt": "",
        "timeAltType": "entered",
        "timeAltDays": "*",
        "timeAltOnlyOddDays": false,
        "timeAltOnlyEvenDays": false,
        "timeAltMonths": "*",
        "timeAltOffset": 0,
        "timeAltOffsetType": "none",
        "timeAltOffsetMultiplier": 60000,
        "once": false,
        "onceDelay": 0.1,
        "addPayload1": "",
        "addPayload1Type": "none",
        "addPayload1Value": "",
        "addPayload1ValueType": "date",
        "addPayload1Format": "0",
        "addPayload1Offset": 0,
        "addPayload1OffsetType": "none",
        "addPayload1OffsetMultiplier": 60000,
        "addPayload1Next": true,
        "addPayload1Days": "*",
        "addPayload2": "",
        "addPayload2Type": "none",
        "addPayload2Value": "",
        "addPayload2ValueType": "date",
        "addPayload2Format": "0",
        "addPayload2Offset": 0,
        "addPayload2OffsetType": "none",
        "addPayload2OffsetMultiplier": 60000,
        "addPayload2Next": true,
        "addPayload2Days": "*",
        "addPayload3": "",
        "addPayload3Type": "none",
        "addPayload3Value": "",
        "addPayload3ValueType": "date",
        "addPayload3Format": "0",
        "addPayload3Offset": 0,
        "addPayload3OffsetType": "none",
        "addPayload3OffsetMultiplier": 60000,
        "addPayload3Next": true,
        "addPayload3Days": "*",
        "recalcTime": 2,
        "x": 200,
        "y": 300,
        "wires": [["e196d254.54d0f", "184f9f65.0654a1"]]
    }, {
        "id": "3f857554.92b2aa",
        "type": "sun-position",
        "z": "4d6b8b2a.2bbe04",
        "name": "suncalc forecasts",
        "positionConfig": "2fd50738.72f798",
        "rules": [],
        "onlyOnChange": "true",
        "topic": "suncalc-1",
        "outputs": 1,
        "start": "sunrise",
        "startType": "pdsTime",
        "startOffset": 0,
        "startOffsetType": "none",
        "startOffsetMultiplier": 60000,
        "end": "sunset",
        "endType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "x": 514,
        "y": 100,
        "wires": [["46462f06.ad13c"]]
    }, {
        "id": "cdf80928.4c0e48",
        "type": "sun-position",
        "z": "4d6b8b2a.2bbe04",
        "name": "suncalc estimates",
        "positionConfig": "2fd50738.72f798",
        "rules": [],
        "onlyOnChange": "true",
        "topic": "suncalc-2",
        "outputs": 1,
        "start": "sunrise",
        "startType": "pdsTime",
        "startOffset": "-2",
        "startOffsetType": "num",
        "startOffsetMultiplier": "3600000",
        "end": "sunset",
        "endType": "pdsTime",
        "endOffset": 0,
        "endOffsetType": "none",
        "endOffsetMultiplier": 60000,
        "x": 510,
        "y": 400,
        "wires": [["5479955b.eccf6c"]]
    }, {
        "id": "e196d254.54d0f",
        "type": "dsm",
        "z": "4d6b8b2a.2bbe04",
        "name": "interval",
        "sm_config": "{\n    \"stateOutput\": \"state\",\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"start\": \"started\"\n        },\n        \"started\": {\n            \"run\": \"running\",\n            \"stop\": \"stopped\"\n        },\n        \"running\": {\n            \"run\": \"running\",\n            \"stop\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"interval\": 2000\n    },\n    \"methods\": {\n        \"interval\": {\n            \"name\": \"setData\"\n        },\n        \"start\":  [\n            \"if (sm.currentState === 'started') {\",\n            \"   node.send(msg);\",\n            \"   resume('run',msg);\",\n            \"}\"\n        ],\n        \"run\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   node.send(msg);\",\n            \"   resume('run',msg);\",\n            \"}, sm.data.interval);\"\n        ],\n        \"stop\": [\n            \"if (timeout.interval) {\",\n            \"   clearTimeout(timeout.interval);\",\n            \"}\"\n        ],\n        \"onAfterTransition\": \"output = false;\",\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'running' ? 'green' : 'grey'\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.currentState === 'running' ? 'interval ' + sm.data.interval : sm.currentState\"\n            }\n        }\n    }\n}",
        "x": 1020,
        "y": 220,
        "wires": [["4302a05a.8f90c", "805bce6e.0b9cb"]]
    }, {
        "id": "184f9f65.0654a1",
        "type": "dsm",
        "z": "4d6b8b2a.2bbe04",
        "name": "interval",
        "sm_config": "{\n    \"stateOutput\": \"state\",\n    \"currentState\": \"stopped\",\n    \"states\": {\n        \"stopped\": {\n            \"start\": \"started\"\n        },\n        \"started\": {\n            \"run\": \"running\",\n            \"stop\": \"stopped\"\n        },\n        \"running\": {\n            \"run\": \"running\",\n            \"stop\": \"stopped\"\n        }\n    },\n    \"data\": {\n        \"interval\": 2000\n    },\n    \"methods\": {\n        \"interval\": {\n            \"name\": \"setData\"\n        },\n        \"start\":  [\n            \"if (sm.currentState === 'started') {\",\n            \"   node.send(msg);\",\n            \"   resume('run',msg);\",\n            \"}\"\n        ],\n        \"run\": [\n            \"timeout.interval = setTimeout(function() {\",\n            \"   node.send(msg);\",\n            \"   resume('run',msg);\",\n            \"}, sm.data.interval);\"\n        ],\n        \"stop\": [\n            \"if (timeout.interval) {\",\n            \"   clearTimeout(timeout.interval);\",\n            \"}\"\n        ],\n        \"onAfterTransition\": \"output = false;\",\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.currentState === 'running' ? 'green' : 'grey'\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.currentState === 'running' ? 'interval ' + sm.data.interval : sm.currentState\"\n            }\n        }\n    }\n}",
        "x": 1020,
        "y": 280,
        "wires": [["4302a05a.8f90c", "4bd64a0d.9f8124"]]
    }, {
        "id": "b59bfd51.a8f29",
        "type": "http request",
        "z": "db4a29ea.4db318",
        "name": "Solcast API - get Live+Forecast JSON",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.solcast.com.au/rooftop_sites/<your-rooftop-id-here>/forecasts?format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 922,
        "y": 460,
        "wires": [["8ff01951.677008"]]
    }, {
        "id": "c4e90b9f.3b28a8",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1370,
        "y": 520,
        "wires": []
    }, {
        "id": "e362b124.3d9c1",
        "type": "http request",
        "z": "db4a29ea.4db318",
        "name": "Solcast API - get Past + Estimated Actuals",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.solcast.com.au/rooftop_sites/<your-rooftop-id-here>/estimated_actuals?format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 720,
        "y": 320,
        "wires": [["8ff01951.677008"]]
    }, {
        "id": "8ff01951.677008",
        "type": "switch",
        "z": "db4a29ea.4db318",
        "name": "StatusCode",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [{
                "t": "eq",
                "v": "200",
                "vt": "num"
            }, {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1199,
        "y": 460,
        "wires": [["5f002852.c5fa88"], ["c4e90b9f.3b28a8", "f1b638a3.a470d8"]]
    }, {
        "id": "804115da.26d668",
        "type": "split",
        "z": "db4a29ea.4db318",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 867,
        "y": 160,
        "wires": [["b4b5fabf.432c78"]]
    }, {
        "id": "3af4ce6b.509562",
        "type": "join",
        "z": "db4a29ea.4db318",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1234,
        "y": 159,
        "wires": [["d88096ac.fb8c58", "d9434a6c.65c6d8"]]
    }, {
        "id": "aba92822.8db458",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"measurement\": \"pv_estimate\",\t        \"fields\": {\t            \"power\": $number($.payload.pv_estimate * 1000).toFixed(2)\t        },\t        \"timestamp\": $toMillis($.payload.period_end)\t    },\t    {\t        \"measurement\": \"pv_estimate10\",\t        \"fields\": {\t            \"power\": $number($.payload.pv_estimate10 * 1000).toFixed(2)\t        },\t        \"timestamp\": $toMillis($.payload.period_end)\t    },\t    {\t        \"measurement\": \"pv_estimate90\",\t        \"fields\": {\t            \"power\": $number($.payload.pv_estimate90 * 1000).toFixed(2)\t        },\t        \"timestamp\": $toMillis($.payload.period_end)\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 220,
        "wires": [[]]
    }, {
        "id": "f1b638a3.a470d8",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "timestamp",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }, {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 380,
        "wires": [["79691906.9cb618"]]
    }, {
        "id": "79691906.9cb618",
        "type": "delay",
        "z": "db4a29ea.4db318",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 640,
        "y": 460,
        "wires": [["f3a15bfe.845d38", "c8a3303c.1a8e9"]]
    }, {
        "id": "750c6ffc.3107e",
        "type": "within-time-switch",
        "z": "db4a29ea.4db318",
        "name": " new day?",
        "nameInt": "",
        "positionConfig": "2fd50738.72f798",
        "startTime": "sunrise",
        "startTimeType": "pdsTime",
        "startOffset": "-15",
        "startOffsetType": "num",
        "startOffsetMultiplier": 60000,
        "endTime": "sunset",
        "endTimeType": "pdsTime",
        "endOffset": "30",
        "endOffsetType": "num",
        "endOffsetMultiplier": 60000,
        "timeDays": "*",
        "timeOnlyOddDays": false,
        "timeOnlyEvenDays": false,
        "timeMonths": "*",
        "timedatestart": "",
        "timedateend": "",
        "propertyStart": "",
        "propertyStartType": "none",
        "propertyStartCompare": "true",
        "propertyStartThreshold": "",
        "propertyStartThresholdType": "num",
        "startTimeAlt": "",
        "startTimeAltType": "entered",
        "startOffsetAlt": 0,
        "startOffsetAltType": "none",
        "startOffsetAltMultiplier": 60000,
        "propertyEnd": "",
        "propertyEndType": "none",
        "propertyEndCompare": "true",
        "propertyEndThreshold": "",
        "propertyEndThresholdType": "num",
        "endTimeAlt": "",
        "endTimeAltType": "entered",
        "endOffsetAlt": 0,
        "endOffsetAltType": "none",
        "endOffsetAltMultiplier": 60000,
        "tsCompare": "0",
        "x": 294,
        "y": 422,
        "wires": [["f3a15bfe.845d38"], ["612eef4.27d291"]]
    }, {
        "id": "a884c0e.cff164",
        "type": "inject",
        "z": "db4a29ea.4db318",
        "name": "forecasts",
        "topic": "forecasts",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 126,
        "y": 735,
        "wires": [["f3a15bfe.845d38"]]
    }, {
        "id": "612eef4.27d291",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "reset counter",
        "rules": [{
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }, {
                "t": "set",
                "p": "topic.reset",
                "pt": "msg",
                "to": "reset",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 619,
        "wires": [["f3a15bfe.845d38", "d9434a6c.65c6d8", "78882d85.cb77f4", "c8a3303c.1a8e9"]]
    }, {
        "id": "701cd30b.ee1cec",
        "type": "switch",
        "z": "db4a29ea.4db318",
        "name": "counter",
        "property": "count",
        "propertyType": "msg",
        "rules": [{
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "20",
                "v2t": "num"
            }, {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1109,
        "y": 619,
        "wires": [["7d885839.af96f8"], ["c4e90b9f.3b28a8"]]
    }, {
        "id": "60ebd0c.60d9b3",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 927,
        "y": 619,
        "wires": [["701cd30b.ee1cec"]]
    }, {
        "id": "5f002852.c5fa88",
        "type": "switch",
        "z": "db4a29ea.4db318",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{
                "t": "eq",
                "v": "estimated_actuals",
                "vt": "str"
            }, {
                "t": "eq",
                "v": "forecasts",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 100,
        "wires": [["1e135eda.eeb081"], ["ab959024.b6a9e"]]
    }, {
        "id": "b010c7d2.8ceb68",
        "type": "split",
        "z": "db4a29ea.4db318",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 870,
        "y": 41,
        "wires": [["d93ab72d.1f8dd8"]]
    }, {
        "id": "aab44a8b.9ef108",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t    {\t        \"measurement\": \"pv_estimate\",\t        \"fields\": {\t            \"power\": $number($.payload.pv_estimate * 1000).toFixed(2)\t        },\t        \"timestamp\": $toMillis($.payload.period_end)\t    }\t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 20,
        "wires": [[]]
    }, {
        "id": "cbaaada2.50b05",
        "type": "inject",
        "z": "db4a29ea.4db318",
        "name": "daily. 02:00Uhr",
        "topic": "Counter_Reset",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 147,
        "y": 581,
        "wires": [["750c6ffc.3107e"]]
    }, {
        "id": "7d885839.af96f8",
        "type": "switch",
        "z": "db4a29ea.4db318",
        "name": "topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [{
                "t": "eq",
                "v": "estimated_actuals",
                "vt": "str"
            }, {
                "t": "eq",
                "v": "forecasts",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 372,
        "wires": [["e362b124.3d9c1"], ["b59bfd51.a8f29"]]
    }, {
        "id": "c88fa2fd.91893",
        "type": "inject",
        "z": "db4a29ea.4db318",
        "name": "estimated_actuals",
        "topic": "estimated_actuals",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 155,
        "y": 793,
        "wires": [["f3a15bfe.845d38"]]
    }, {
        "id": "f2590a8e.cafce8",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": " Manual queries",
        "info": "",
        "x": 136,
        "y": 695,
        "wires": []
    }, {
        "id": "cce8fbec.afb498",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": "Scheduled queries",
        "info": "",
        "x": 150,
        "y": 300,
        "wires": []
    }, {
        "id": "bcd95705.1498b8",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": "API interrogate",
        "info": "",
        "x": 980,
        "y": 380,
        "wires": []
    }, {
        "id": "672bbe2e.cd2a2",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": "InfluxDB to fill",
        "info": "",
        "x": 370,
        "y": 60,
        "wires": []
    }, {
        "id": "efce9268.885eb",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": "1-20 API-Calls pro Tag possible",
        "info": "",
        "x": 895,
        "y": 580,
        "wires": []
    }, {
        "id": "612445d4.21376c",
        "type": "join",
        "z": "db4a29ea.4db318",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1234,
        "y": 41,
        "wires": [["d88096ac.fb8c58", "78882d85.cb77f4"]]
    }, {
        "id": "d88096ac.fb8c58",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1389,
        "y": 120,
        "wires": []
    }, {
        "id": "ab959024.b6a9e",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "move",
                "p": "payload.forecasts",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 160,
        "wires": [["804115da.26d668"]]
    }, {
        "id": "1e135eda.eeb081",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "move",
                "p": "payload.estimated_actuals",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 41,
        "wires": [["b010c7d2.8ceb68"]]
    }, {
        "id": "37b94f05.47fd2",
        "type": "comment",
        "z": "db4a29ea.4db318",
        "name": "API-Call Counter reset",
        "info": "",
        "x": 139,
        "y": 541,
        "wires": []
    }, {
        "id": "ef59578d.f74bb8",
        "type": "inject",
        "z": "db4a29ea.4db318",
        "name": "Counter_Reset",
        "topic": "Counter_Reset",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 146,
        "y": 618,
        "wires": [["612eef4.27d291"]]
    }, {
        "id": "5573271b.d13488",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "total requests",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "count",
        "targetType": "msg",
        "x": 1060,
        "y": 500,
        "wires": []
    }, {
        "id": "97d49574.c73d78",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "estimated actuals timed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "count",
        "targetType": "msg",
        "x": 1510,
        "y": 220,
        "wires": []
    }, {
        "id": "6cbec444.e5b97c",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "forecasts timed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "count",
        "targetType": "msg",
        "x": 1540,
        "y": 280,
        "wires": []
    }, {
        "id": "b9ec0618.69b998",
        "type": "debug",
        "z": "db4a29ea.4db318",
        "name": "total retries",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "count",
        "targetType": "msg",
        "x": 850,
        "y": 520,
        "wires": []
    }, {
        "id": "febd8f1f.e645c",
        "type": "link in",
        "z": "db4a29ea.4db318",
        "name": "from timer estimates",
        "links": ["b80f001a.1b04d"],
        "x": 155,
        "y": 360,
        "wires": [["750c6ffc.3107e"]]
    }, {
        "id": "f66dc980.f06d58",
        "type": "link in",
        "z": "db4a29ea.4db318",
        "name": "from timer forecasts",
        "links": ["afe610a3.ae9b5"],
        "x": 155,
        "y": 460,
        "wires": [["750c6ffc.3107e"]]
    }, {
        "id": "f3a15bfe.845d38",
        "type": "counter",
        "z": "db4a29ea.4db318",
        "name": "Counter",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 739,
        "y": 619,
        "wires": [["60ebd0c.60d9b3", "5573271b.d13488"]]
    }, {
        "id": "78882d85.cb77f4",
        "type": "counter",
        "z": "db4a29ea.4db318",
        "name": "Counter",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 1260,
        "y": 220,
        "wires": [["97d49574.c73d78"]]
    }, {
        "id": "d9434a6c.65c6d8",
        "type": "counter",
        "z": "db4a29ea.4db318",
        "name": "Counter",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 1260,
        "y": 280,
        "wires": [["6cbec444.e5b97c"]]
    }, {
        "id": "c8a3303c.1a8e9",
        "type": "counter",
        "z": "db4a29ea.4db318",
        "name": "Counter",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 680,
        "y": 520,
        "wires": [["b9ec0618.69b998"]]
    }, {
        "id": "aada8053.10672",
        "type": "Stackhero-InfluxDB-v2-write",
        "z": "db4a29ea.4db318",
        "server": "a1a73c4f.da539",
        "name": "Insert into InfluxDB",
        "x": 1150,
        "y": 100,
        "wires": [[]]
    }, {
        "id": "912ec526.2bb8a8",
        "type": "change",
        "z": "db4a29ea.4db318",
        "name": "",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"bucket\": \"data-historical\",\t    \"precision\": \"ms\",\t    \"data\": $.payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 100,
        "wires": [["aada8053.10672"]]
    }, {
        "id": "5d261f0b.d0ac2",
        "type": "se-modbus",
        "z": "52d8c030.9a05a",
        "d": true,
        "name": "Solar Edge Modbus",
        "host": "hostname-or-IP",
        "port": "1502",
        "poll": "10000",
        "device": "se_inverter",
        "seMeter1": true,
        "x": 230,
        "y": 240,
        "wires": [["28a15655.12b30a", "43a6443d.180d0c"]]
    }, {
        "id": "28a15655.12b30a",
        "type": "debug",
        "z": "52d8c030.9a05a",
        "d": true,
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 240,
        "wires": []
    }, {
        "id": "35505ac9.98bab6",
        "type": "Stackhero-InfluxDB-v2-write",
        "z": "52d8c030.9a05a",
        "server": "a1a73c4f.da539",
        "name": "Insert into InfluxDB",
        "x": 850,
        "y": 340,
        "wires": [[]]
    }, {
        "id": "5d69e5c5.f3230c",
        "type": "change",
        "z": "52d8c030.9a05a",
        "name": "set data-realtime",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"bucket\": \"data-realtime\",\t    \"precision\": \"ms\",\t    \"data\": $.payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 300,
        "wires": [["35505ac9.98bab6", "28a15655.12b30a"]]
    }, {
        "id": "883ba418.2253b8",
        "type": "debug",
        "z": "4c0ce22f.eca32c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1130,
        "y": 340,
        "wires": []
    }, {
        "id": "3afedaad.6fc1d6",
        "type": "http request",
        "z": "4c0ce22f.eca32c",
        "name": "Solcast API - post measurements",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.solcast.com.au/rooftop_sites/<your-rooftop-id-here>/measurements",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 820,
        "y": 360,
        "wires": [["8bba5122.ee7be"]]
    }, {
        "id": "8bba5122.ee7be",
        "type": "switch",
        "z": "4c0ce22f.eca32c",
        "name": "StatusCode",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [{
                "t": "eq",
                "v": "200",
                "vt": "num"
            }, {
                "t": "btwn",
                "v": "399",
                "vt": "num",
                "v2": "501",
                "v2t": "num"
            }, {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 240,
        "wires": [["883ba418.2253b8"], ["883ba418.2253b8"], ["883ba418.2253b8", "4cc121fb.bf24c"]]
    }, {
        "id": "4cc121fb.bf24c",
        "type": "change",
        "z": "4c0ce22f.eca32c",
        "name": "timestamp",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }, {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 200,
        "wires": [["6cc6c358.0ed97c"]]
    }, {
        "id": "6cc6c358.0ed97c",
        "type": "delay",
        "z": "4c0ce22f.eca32c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 140,
        "wires": [["656305f6.832bfc"]]
    }, {
        "id": "464f6c18.55abd4",
        "type": "comment",
        "z": "4c0ce22f.eca32c",
        "name": "inject daily",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    }, {
        "id": "ec18229d.01249",
        "type": "comment",
        "z": "4c0ce22f.eca32c",
        "name": "HTTP Response - in case of error (!=200) try again in 5min",
        "info": "",
        "x": 790,
        "y": 100,
        "wires": []
    }, {
        "id": "180611.432ad9f",
        "type": "comment",
        "z": "4c0ce22f.eca32c",
        "name": "influx query",
        "info": "",
        "x": 450,
        "y": 300,
        "wires": []
    }, {
        "id": "cc4e4e40.cfeb4",
        "type": "comment",
        "z": "4c0ce22f.eca32c",
        "name": "solcast POST",
        "info": "",
        "x": 730,
        "y": 320,
        "wires": []
    }, {
        "id": "cb3a880f.0e11f8",
        "type": "comment",
        "z": "4c0ce22f.eca32c",
        "name": "convert influx response to solcast measurements",
        "info": "",
        "x": 540,
        "y": 540,
        "wires": []
    }, {
        "id": "43a6443d.180d0c",
        "type": "function",
        "z": "52d8c030.9a05a",
        "name": "Format data",
        "func": "var now = new Date().getTime();\n\nvar scaleFactorFields = {\n    \"I_AC_Current\": \"I_AC_Current_SF\",\n    \"I_AC_CurrentA\": \"I_AC_Current_SF\",\n    \"I_AC_CurrentB\": \"I_AC_Current_SF\",\n    \"I_AC_CurrentC\": \"I_AC_Current_SF\",\n    \"I_AC_VoltageAB\": \"I_AC_Voltage_SF\",\n    \"I_AC_VoltageAN\": \"I_AC_Voltage_SF\",\n    \"I_AC_VoltageBN\": \"I_AC_Voltage_SF\",\n    \"I_AC_VoltageCN\": \"I_AC_Voltage_SF\",\n    \"I_AC_Power\": \"I_AC_Power_SF\",\n    \"I_AC_Frequency\": \"I_AC_Frequency_SF\",\n    \"I_DC_Current\": \"I_DC_Current_SF\",\n    \"I_DC_Voltage\": \"I_DC_Voltage_SF\",\n    \"I_DC_Power\": \"I_DC_Power_SF\",\n    \"I_Temp_Sink\": \"I_Temp_SF\",\n    \"I_AC_Energy_WH\": \"I_AC_Energy_WH_SF\",\n    \"M_AC_Current\": \"M_AC_Current_SF\",\n    \"M_AC_Current_A\": \"M_AC_Current_SF\",\n    \"M_AC_Current_B\": \"M_AC_Current_SF\",\n    \"M_AC_Current_C\": \"M_AC_Current_SF\",\n    \"M_AC_Voltage_LL\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_AB\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_BC\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_CA\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_LN\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_AN\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_BN\": \"M_AC_Voltage_SF\",\n    \"M_AC_Voltage_CN\": \"M_AC_Voltage_SF\",\n    \"M_AC_Freq\": \"M_AC_Freq_SF\",\n    \"M_AC_Power\": \"M_AC_Power_SF\",\n//    \"M_AC_Power_A\": \"M_AC_Power_SF\",\n    \"M_AC_Power_B\": \"M_AC_Power_SF\",\n    \"M_AC_Power_C\": \"M_AC_Power_SF\",\n    \"M_AC_VA\": \"M_AC_VA_SF\",\n    \"M_AC_VA_A\": \"M_AC_VA_SF\",\n    \"M_AC_VA_B\": \"M_AC_VA_SF\",\n    \"M_AC_VA_C\": \"M_AC_VA_SF\",\n    \"M_AC_VAR\": \"M_AC_VAR_SF\",\n    \"M_AC_VAR_A\": \"M_AC_VAR_SF\",\n    \"M_AC_VAR_B\": \"M_AC_VAR_SF\",\n    \"M_AC_VAR_C\": \"M_AC_VAR_SF\",\n    \"M_AC_PF\": \"M_AC_PF_SF\",\n    \"M_AC_PF_A\": \"M_AC_PF_SF\",\n    \"M_AC_PF_B\": \"M_AC_PF_SF\",\n    \"M_AC_PF_C\": \"M_AC_PF_SF\",\n/*    \"M_Exported\": \"M_Energy_W_SF\",\n    \"M_Exported_A\": \"M_Energy_W_SF\",\n    \"M_Exported_B\": \"M_Energy_W_SF\",\n    \"M_Exported_C\": \"M_Energy_W_SF\",\n    \"M_Imported\": \"M_Energy_W_SF\",\n    \"M_Imported_A\": \"M_Energy_W_SF\",\n    \"M_Imported_B\": \"M_Energy_W_SF\",\n    \"M_Imported_C\": \"M_Energy_W_SF\",*/\n    \"M_Imported_VA\": \"M_Energy_VA_SF\",\n    \"M_Exported_VA\": \"M_Energy_VA_SF\",\n    \"M_Import_VARh_Q1\": \"M_Energy_VAR_SF\",\n    \"M_Import_VARh_Q2\": \"M_Energy_VAR_SF\",\n    \"M_Export_VARh_Q3\": \"M_Energy_VAR_SF\",\n    \"M_Export_VARh_Q4\": \"M_Energy_VAR_SF\"\n};\n\nvar inverterFields = {};\nvar powerMeterFields = {};\nvar hasMeterData = false;\n\nObject.keys(msg.payload).forEach(function(key, index) {\n    var value = Number(msg.payload[key]);\n\n    if (scaleFactorFields[key]) {\n        var scalingFactor = Number(msg.payload[scaleFactorFields[key]]);\n        value = parseFloat((value * Math.pow(10, scalingFactor)).toFixed(12));\n        key = key + \"_computed\";\n    }\n\n    if (!Number.isNaN(value) && Number.isFinite(value)) {\n        if (key.startsWith(\"M_\")) {\n            powerMeterFields[key] = value;\n            hasMeterData = true;\n        } else if (key.startsWith(\"I_\")) {\n            inverterFields[key] = value;\n        }\n    }\n});\n\nif (inverterFields[\"I_DC_Power_computed\"] > 0) {\n    var acPowerOutput = msg.payload.I_AC_Power * Math.pow(10, msg.payload.I_AC_Power_SF);\n    var dcPowerInput = msg.payload.I_DC_Power * Math.pow(10, msg.payload.I_DC_Power_SF);\n\tinverterFields[\"I_efficiency_computed\"] = parseFloat(acPowerOutput / dcPowerInput * 100).toFixed(12);\n}\n\nmsg.payload = [\n    {\n        \"measurement\": \"sunspec_inverter\",\n        \"fields\": inverterFields,\n        \"timestamp\": now\n    }\n];\n\nif (hasMeterData) {\n    msg.payload.push({\n        \"measurement\": \"sunspec_power_meter\",\n        \"fields\": powerMeterFields,\n        \"timestamp\": now\n    });\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 340,
        "wires": [["5d69e5c5.f3230c", "212bda56.b796a6"]]
    }, {
        "id": "b4b5fabf.432c78",
        "type": "function",
        "z": "db4a29ea.4db318",
        "name": "",
        "func": "var timestamp = new Date(msg.payload.period_end).getTime();\n\nmsg.payload = [\n    {\n        \"measurement\": \"solcast_forecast\",\n        \"fields\": {\n            \"pv_estimate\": parseFloat(msg.payload.pv_estimate * 1000).toFixed(2),\n            \"pv_estimate10\": parseFloat(msg.payload.pv_estimate10 * 1000).toFixed(2),\n            \"pv_estimate90\": parseFloat(msg.payload.pv_estimate90 * 1000).toFixed(2)\n        },\n        \"timestamp\": timestamp\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 160,
        "wires": [["912ec526.2bb8a8", "3af4ce6b.509562"]]
    }, {
        "id": "d93ab72d.1f8dd8",
        "type": "function",
        "z": "db4a29ea.4db318",
        "name": "",
        "func": "var timestamp = new Date(msg.payload.period_end).getTime();\n\nmsg.payload = [\n    {\n        \"measurement\": \"solcast_actual\",\n        \"fields\": {\n            \"pv_estimate\": parseFloat(msg.payload.pv_estimate * 1000).toFixed(2)\n        },\n        \"timestamp\": timestamp\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 40,
        "wires": [["912ec526.2bb8a8", "612445d4.21376c"]]
    }, {
        "id": "4bb4c8c7.a4b008",
        "type": "Stackhero-InfluxDB-v2-write",
        "z": "52d8c030.9a05a",
        "server": "a1a73c4f.da539",
        "name": "Insert into InfluxDB",
        "x": 850,
        "y": 440,
        "wires": [[]]
    }, {
        "id": "e63308c4.abd558",
        "type": "change",
        "z": "52d8c030.9a05a",
        "name": "set data-historical",
        "rules": [{
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"bucket\": \"data-historical\",\t    \"precision\": \"ms\",\t    \"data\": $.payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 500,
        "wires": [["4bb4c8c7.a4b008", "28a15655.12b30a"]]
    }, {
        "id": "212bda56.b796a6",
        "type": "delay",
        "z": "52d8c030.9a05a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 450,
        "y": 420,
        "wires": [["e63308c4.abd558"]]
    }, {
        "id": "bfe79c3.3cda76",
        "type": "Stackhero-InfluxDB-v2-query",
        "z": "4c0ce22f.eca32c",
        "server": "a1a73c4f.da539",
        "name": "run influxdb query",
        "x": 470,
        "y": 380,
        "wires": [["a4fdc38e.06df2"]]
    }, {
        "id": "656305f6.832bfc",
        "type": "function",
        "z": "4c0ce22f.eca32c",
        "name": "build flux query",
        "func": "var queryDate = new Date();\nmsg.topic = '';\n\nfor (var i = 0; i < 25; i++) {\n\n    var rangeStartDate = new Date();\n    rangeStartDate.setHours(queryDate.getHours() - i - 1, 0, 0, 0);\n    var rangeStart30Date = new Date();\n    rangeStart30Date.setHours(queryDate.getHours() - i - 1, 30, 0, 0);\n    var rangeStopDate = new Date();\n    rangeStopDate.setHours(queryDate.getHours() - i, 0, 0, 0);\n\n    if (msg.topic) {\n        msg.topic = msg.topic + '\\n';\n    }\n\n    msg.topic = msg.topic + `\nfrom(bucket: \"data-historical\")\n  |> range(start: ` + rangeStartDate.toISOString() + ', stop: ' + rangeStart30Date.toISOString() + `)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"sunspec_inverter\")\n  |> filter(fn: (r) => r[\"_field\"] == \"I_AC_Power_computed\")\n  |> mean()\n  |> map(fn: (r) => ({\n    r with\n    _value: float(v: r._value) / 1000.0\n  }))\n  |> yield(name: \"` + i + `-1\")\n` + '\\n' + `\nfrom(bucket: \"data-historical\")\n  |> range(start: ` + rangeStart30Date.toISOString() + ', stop: ' + rangeStopDate.toISOString() + `)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"sunspec_inverter\")\n  |> filter(fn: (r) => r[\"_field\"] == \"I_AC_Power_computed\")\n  |> mean()\n  |> map(fn: (r) => ({\n    r with\n    _value: float(v: r._value) / 1000.0\n  }))\n  |> yield(name: \"` + i + `-2\")\n`;\n\n}\n\nmsg.period = \"PT30M\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 380,
        "wires": [["bfe79c3.3cda76"]]
    }, {
        "id": "c818d82a.ff3348",
        "type": "inject",
        "z": "4c0ce22f.eca32c",
        "d": true,
        "name": "last 25h",
        "topic": "query",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 200,
        "wires": [["656305f6.832bfc"]]
    }, {
        "id": "a4fdc38e.06df2",
        "type": "function",
        "z": "4c0ce22f.eca32c",
        "name": "build solcast payload",
        "func": "var solcastMeasurements = [];\n\nif (msg.payload && msg.payload.length > 0) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        if (msg.payload[i] && msg.payload[i].length > 0) {\n            for (var j = 0; j < msg.payload[i].length; j++) {\n                if (msg.payload[i][j] && msg.payload[i][j][\"_value\"] !== null) {\n                    solcastMeasurements.push({\n                        \"period_end\": msg.payload[i][j][\"_stop\"],\n                        \"period\": msg.period,\n                        \"total_power\": msg.payload[i][j][\"_value\"]\n                    });\n                }\n            }\n        }\n    }\n}\n\nmsg.payload = {\n    \"measurements\": solcastMeasurements\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 500,
        "wires": [["fa23635f.0ffa5"]]
    }, {
        "id": "fa23635f.0ffa5",
        "type": "change",
        "z": "4c0ce22f.eca32c",
        "name": "modify POST measurements",
        "rules": [{
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }, {
                "t": "delete",
                "p": "period",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 440,
        "wires": [["883ba418.2253b8", "3afedaad.6fc1d6"]]
    }
]
